<div class="container" *ngIf="people">
  <div *ngIf="errorMessage" class="alert alert-danger">
    <h2>{{errorMessage}}</h2>
  </div>
  <div class="row">
    <div class="col">
      <p class="display-4">Total People:
        <span class="badge badge-primary badge-pill">{{people?.value.length}}</span>
      </p>
    </div>
    <div class="col">
      <div>
        <button type="button" (click)="onCreate()" class="btn btn-primary" title="GET api/v1/Person/default">Create New</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <ul class="list-group" *ngFor="let person of people.value">
          <li [class.selected]="isSelected(person.personId)" class="list-group-item list-group-item-action list-group-item-primary"
            (click)="onSelect(person['personId'])" title="GET api/v1/Person/{{person.personId}}">

            <span class="badge badge-primary badge-pill">{{ person["personId"] }}</span>
            {{ person["firstName"] }} {{ person["lastName"] }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div *ngIf="selectedPerson">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="firstName">First name:</label>
              <input type="text" class="form-control" [(ngModel)]="selectedPerson.Firstname" id="firstName" name="firstName">
            </div>
            <div class="col">
              <label for="middleName">Middle name:</label>
              <input type="text" class="form-control" [(ngModel)]="selectedPerson.MiddleName" id="middleName" name="middleName">
            </div>
            <div class="col">
              <label for="lastName">Last name:</label>
              <input type="text" class="form-control" [(ngModel)]="selectedPerson.Lastname" id="lastName" name="lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" [(ngModel)]="selectedPerson.Title" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="birthDate">Birthdate:</label>
            <input type="Date" class="form-control" [(ngModel)]="selectedPerson.BirthDate" id="birthDate" name="birthDate">
          </div>
          <div class="form-group">
              <label>Email:</label>
              <!-- <div > -->
                <input *ngFor="let email of selectedPerson.Emails; let i = index" [attr.data-index]="i"
                type="text" class="form-control" [(ngModel)]="email.Value" [id]="i" [name]="i">
              <!-- </div> -->
            </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <button type="button"><a (click)="goBack()">Go Back</a></button>
    </div>
    <div class="col" *ngIf="selectedPerson">
      <button type="submit" class="btn btn-success" (click)="savePerson()" [title]=getSaveTitle()>Save</button>
      <button *ngIf="selectedPerson.PersonId > 0" type="submit" class="btn btn-success" (click)="deletePerson(selectedPerson.PersonId)" [title]=getDeleteTitle()>Delete</button>
    </div>
  </div>
</div>
