<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">SuperOffice Example Application</h1>
    <p>This example demonstrates how to perform OpenID Connect authentication and make REST api calls. You can learn more about SuperOffice REST APIs by clicking the Learn More button. </p>
    <p>Alternatively, you can click on any one of the options below to view more information about the APIs used to populate these pages.</p>
    <p>
      <a class="btn btn-primary btn-lg" target="_blank" href="https://community.superoffice.com/documentation/sdk/SO.NetServer.Web.Services/html/Reference-WebAPI-WebAPI.htm" role="button">Learn more &raquo;</a>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Contact</h2>
      <p>The section demonstrates how to perform REST api calls to interact with company information.</p>
      <p>
        <a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Person</h2>
      <p>The section demonstrates how to perform REST api calls to interact with person information.</p>
      <p>
        <a class="btn btn-secondary" routerLink="/person" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Project</h2>
      <p>The section demonstrates how to perform REST api calls to interact with project information.</p>
      <p>
        <a class="btn btn-secondary" routerLink="/project" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Sale</h2>
      <p>The section demonstrates how to perform REST api calls to interact with sale information.</p>
      <p>
        <a class="btn btn-secondary" routerLink="/sale" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Document</h2>
      <p>The section demonstrates how to perform REST api calls to interact with document information.</p>
      <p>
        <a class="btn btn-secondary" routerLink="/document" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Selection</h2>
      <p>The section demonstrates how to perform REST api calls to interact with selection information.</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; SuperOffice AS 2017</p>
  </footer>
  <!-- /container -->
</div>